@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  @apply relative inline-block;
}

.nav-link::after {
  content: '';
  @apply absolute left-0 -bottom-1 h-[2px] w-0 bg-amber-950 transition-all duration-300 ease-in-out;
}

.nav-link:hover::after {
  @apply w-full;
}